body{
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

nav {
    background-color: #3bb5a5;
    color: white;
    z-index: 10;
}

.sectionTitle {
    margin-bottom: 2rem !important;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 15px;
    text-align: left !important;
    font-size: 3em;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.grayOut {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.card-text {
    padding-bottom: 1rem;
}

h1.card-title {
    color: #000;
    margin-bottom: 10px;
}

h3.card-title{
    color: #999;
}

h6.card-title{
    color: #999;
}

.list {
    text-align: left !important;
    list-style: square !important;
}

.arrow {
    text-align: center;
    margin: 4% 0;
    bottom: 5;
}

.arrow a {
    color: lightgrey;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.resumeDownload {
    margin-bottom: 30px;
}

.myAvatar {
    width: 200px;
    height: 200px;
    padding: 20px;
}

#BosonImg {
    width: 150px;
    height: 150px;
}

textarea {
    width: auto;
    height: 150px;
}

.pad{
    padding-bottom: 30px;
}

.padSmall{
    padding-bottom: 10px;
}

/* Text */
.textDesc{
    line-height: 2em;
}